

.to {
    position: relative;
    width: 400px;
    height: 300px;
    float: left;
    margin: 15px;
    overflow: hidden;
}

img.anh {
    height: 300px;
    transform: scale(1.5);
    transition: .2s;
}

.nenxanh {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 300px;
    z-index: 1;
    background: rgba(173, 216, 230, .6);
    opacity: 0;
    transition: .4s;
}

.thanh1, .thanh2 {
    position: absolute;
    top: 160px;
    left: 20px;
    width: 350px;
    height: 2px;
    background: #fff;
    transition: .4s;
    transition-delay: .2s;
}

.chuto, .chunho {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 4;
    color: #fff;
    font-family: "Segoe UI Light";
    font-size: 22px;
    text-align: center;
    transition: .4s;
}

.chunho {
    top: 200px;
    padding: 0 20px;
    font-size: 15px;
}

.noidungthem {
    clear: both;
}

.loadthem {
    text-align: center;
    clear: both;
    overflow: hidden;
}

/*--- Animation ----*/

.to:hover img.anh {
    transform: scale(1);
}

.to:hover .nenxanh {
    opacity: 1;
}

.to:hover .thanh1 {
    transform: rotate(45deg);
}

.to:hover .thanh2 {
    transform: rotate(-45deg);
}